%ul
  %li A foundry is a collection of several projects
  %li Members of a foundry may only view projects they have permission to access
  %li Foundry project URLs are prefixed with the foundry namespace
  %li Existing projects may be moved into a foundry
